{% form_theme form _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
                {% for error in errors %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ flashMessage }}
        </div>

    {% endfor %}

    <form action="{{ path('new-product') }}" method="post">
        <div class="form-group">
            <label for="name">Nazwa:</label>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            <label for="name">Opis:</label>
            {{ form_errors(form.description, { 'attr': {'class': 'alert alert-danger'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            <label for="name">Cena:</label>
            {{ form_errors(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'} }) }}
        </div>
        <br />

        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>

{% endblock %}
